body{
    margin:0;
    font-family:Sarabun,sans-serif;
    background:#f4f4f4;
}

header{
    background:#9b111e;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
}

.container{
    padding:30px;
}

.kpi-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
}

.section{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

button{
    padding:10px 15px;
    margin:5px;
    cursor:pointer;
}

img{
    max-width:100%;
    margin-top:20px;
}

.login-box{
    width:300px;
    margin:100px auto;
    background:white;
    padding:20px;
}
